.contacts {
  width: max-content;
  display: flex;
  column-gap: 90px;
  flex-wrap: wrap;

  @media (max-width: $mobile-width-only) {
    flex-direction: column;
    row-gap: 22px;
    align-items: center;
  }
}

.contacts__link {
  text-decoration: none;
  position: relative;
  font-weight: normal;
  font-size: 16px;
  line-height: 32px;
  color: $footer-text-color;

  @media (max-width: $tablet-width-only) {
    line-height: 22px;
  }
}

.contacts__link--mail {
  padding-left: 41px;
}

.contacts__link--phone {
  padding-left: 37px;
}

.contacts__link::before {
  content: "";
  display: block;
  position: absolute;
  background-color: $basic-blue;
  mask-repeat: no-repeat;
  mask-size: cover;
  mask-position: 50% 50%;
}

.contacts__link--mail::before {
  top: 1px;
  left: 0;
  width: 26px;
  height: 20px;
  mask-image: url("../img/stack.svg#mail");
}

.contacts__link--phone::before {
  top: 0;
  left: 0;
  width: 22px;
  height: 23px;
  mask-image: url("../img/stack.svg#phone");
}
