.contacts {
  width: max-content;
  display: flex;
  column-gap: 92px;
  flex-wrap: wrap;
  max-width: 100%;
  justify-content: center;
  align-items: center;

  @media (max-width: $mobile-width-only) {
    flex-direction: column;
    row-gap: 22px;
    align-items: center;
  }
}

.contacts__link {
  cursor: pointer;
  text-decoration: none;
  position: relative;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: $footer-text-color;

  @media (max-width: $tablet-width-only) {
    line-height: 22px;
  }
}

.contacts__link--mail {
  padding-left: 25px;

  @media (max-width: $mobile-width-only) {
    padding-left: 45px;
  }
}

.contacts__link:hover {
  color: $basic-blue;
}

.contacts__link:active {
  color: $basic-blue;
  opacity: 0.5;
}

.contacts__link--phone {
  padding-left: 37px;

  @media (max-width: $mobile-width-only) {
    padding-left: 25px;
  }
}

.contacts__link::before {
  content: "";
  display: block;
  position: absolute;
  background-color: $basic-blue;
  mask-repeat: no-repeat;
  mask-size: cover;
  mask-position: 50% 50%;
}

.contacts__link--mail::before {
  top: 3px;
  left: -15px;
  width: 26px;
  height: 20px;
  mask-image: url("../img/stack.svg#mail");

  @media (max-width: $mobile-width-only) {
    left: 5px;
  }
}

.contacts__link--phone::before {
  top: 0;
  left: 0;
  width: 22px;
  height: 23px;
  mask-image: url("../img/stack.svg#phone");

  @media (max-width: $mobile-width-only) {
    left: -12px;
  }
}
