.header {
  // display: grid;
  // grid-template-columns: 1fr 0.9fr;
  // grid-template-rows: min-content min-content;
  // column-gap: 160px;
  // row-gap: 256px;
  width: 100%;
  background-color: $basic-dark;
  background-position: 35% 40%;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../../img/header-bg@1x.jpg");
  padding-bottom: 220px;

  @supports (background-image: url("../../img/header-bg@1x.webp")) {
    background-image: url("../../img/header-bg@1x.webp");
  }

  @media (max-width: $tablet-width-only) {
    display: block;
    background: none;
    padding-bottom: 35px;
  }
}

.header__container {
  // grid-row: 1 / -1;
  // grid-column: 1 / -1;
  // align-items: flex-start;
  display: grid;
  grid-template-columns: 393px 327px;
  grid-template-rows: min-content;
  column-gap: 160px;
  max-width: max-content;
  margin: 0 auto;
  padding-top: 256px;
  // row-gap: 256px;

  @media (max-width: $tablet-width-only) {
    background-image: none;
    background-position: center;
    display: contents;
    padding-bottom: 80px;
  }
}

.header__nav {
  // grid-column: 1 / -1;
  // grid-row: 1;
  position: relative;
  width: 875px;
  margin: 0 auto;
  box-sizing: border-box;

  @media (max-width: $tablet-width-only) {
    width: 100%;
  }
}

.header__nav::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: $extra-gray;
  position: absolute;
}

.header__wrapper-left {
  // grid-column: 1;
  // grid-row: 2;
  // width: 393px;
  margin: 0;
  margin-left: auto;

  @media (max-width: $tablet-width-only) {
    width: 100%;
    padding-top: 134px;
    background-color: $basic-dark;
    background-position: 50% -53px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../../img/header-bg@1x.jpg");
    padding-bottom: 80px;

    @supports (background-image: url("../../img/header-bg@1x.webp")) {
      background-image: url("../../img/header-bg@1x.webp");
    }
  }

  @media (max-width: $mobile-width-only) {
    padding-top: 120px;
    padding-bottom: 70px;
  }
}

.header__logo {
  @media (max-width: $tablet-width-only) {
    position: absolute;
    left: 22px;
    top: 26px;
  }

  @media (max-width: $mobile-width-only) {
    position: absolute;
    left: 18px;
  }
}

.header__title {
  margin: 27px 0 24px 0;
  font-weight: bold;
  font-size: 46px;
  line-height: 64px;
  letter-spacing: -0.01em;
  color: $basic-white;
  max-width: 400px;

  @media (max-width: $tablet-width-only) {
    font-size: 30px;
    line-height: 42px;
    text-align: center;
    margin: 0 auto;
    width: max-content;
    display: block;
  }

  @media (max-width: $mobile-width-only) {
    max-width: 288px;
  }
}

.header__subtitle {
  max-width: 365px;
  font-weight: 300;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: -0.01em;
  color: $subtitle-gray;

  @media (max-width: $tablet-width-only) {
    font-size: 18px;
    text-align: center;
    max-width: 465px;
    margin: 0 auto;
    margin-top: 20px;
  }
}

.header__form {
  // grid-column: 2;
  // grid-row: 2;
  max-width: 327px;
  // padding-bottom: 280px;

  @media (max-width: $tablet-width-only) {
    display: block;
    padding: 0;
    max-width: 321px;
    margin: 0 auto;
    margin-top: 70px;
  }
}
