.map__title {
  margin: 0 auto;
}

.map__subtitle {
  max-width: 560px;
  text-align: center;
  margin: 30px auto 42px auto;
  font-weight: normal;
  font-size: 17px;
  line-height: 31px;
  color: $subtitle-map-color;
}

.map__image {
  display: block;
  margin: 0 auto;
}
