.types {
  padding: 151px 0 147px 0;
  background-color: $background-page-color;

  @media (max-width: $tablet-width-only) {
    padding: 50px 0 68px 0;
    font-size: 24px;
    line-height: 41px;
  }

  @media (max-width: $mobile-width-only) {
    padding-bottom: 55px;
  }
}

.types__title {
  font-size: 30px;
  line-height: 30px;
  margin: 0 auto;
  margin-bottom: 50px;

  @media (max-width: $tablet-width-only) {
    margin-bottom: 30px;
    font-size: 24px;
    line-height: 41px;
  }
}

.types__list {
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 50px;
  list-style: none;
  row-gap: 40px;

  @media (max-width: $tablet-width-only) {
    row-gap: 30px;
  }

  @media (max-width: $mobile-width-only) {
    row-gap: 45px;
  }
}

.types__item {
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
  z-index: 10;
}

.types__item--road {
  padding-top: 10px;

  @media (max-width: $tablet-width-only) {
    padding-top: 0;
  }
}

.types__item::before {
  content: "";
  display: block;
  position: absolute;
  background-color: $basic-blue;
  mask-repeat: no-repeat;
  mask-size: cover;
  mask-position: 50% 50%;
}

.types__item--road::before {
  z-index: -1;
  mask-image: url("../img/stack.svg#ellipse-1");

  @media (min-width: $mobile-width) {
    bottom: 25px;
    left: -26px;
    width: 127px;
    height: 127px;
  }

  @media (min-width: $tablet-width) {
    bottom: 27px;
    left: -36px;
  }

  @media (min-width: $desktop-width) {
    top: 165px;
    left: -60px;
    width: 180px;
    height: 180px;
  }
}

.types__item--mountain {
  padding-top: 37px;

  @media (max-width: $tablet-width-only) {
    padding-top: 0;
  }
}

.types__item--mountain::before {
  @media (min-width: $desktop-width) {
    top: 19px;
    left: -19px;
    z-index: 11;
    width: 47px;
    height: 47px;
    mask-image: url("../img/stack.svg#rectangle-1");
  }
}

.types__item--mountain::after {
  @media (min-width: $desktop-width) {
    content: "";
    display: block;
    position: absolute;
    background-color: $basic-blue;
    mask-repeat: no-repeat;
    mask-size: cover;
    mask-position: 50% 50%;
    bottom: 32px;
    right: -23px;
    z-index: 11;
    width: 47px;
    height: 47px;
    mask-image: url("../img/stack.svg#rectangle-1");
  }
}

.types__item--childish {
  padding-top: 2px;

  @media (max-width: $tablet-width-only) {
    padding-top: 20px;
  }

  @media (max-width: $mobile-width-only) {
    padding-top: 0;
    margin-top: 0;
  }
}

.types__item--childish::before {
  z-index: 11;
  mask-image: url("../img/stack.svg#ellipse-2");

  @media (min-width: $mobile-width) {
    top: -20px;
    right: -15px;
    width: 68px;
    height: 68px;
  }

  @media (min-width: $tablet-width) {
    top: 1px;
    right: -26px;
  }

  @media (min-width: $desktop-width) {
    top: -32px;
    right: -36px;
    width: 95px;
    height: 95px;
  }
}

.types__image-title {
  margin-top: 20px;
  font-weight: 600;
  font-size: 22px;
  line-height: 34px;
  letter-spacing: -0.5px;
  color: $basic-black;

  @media (max-width: $tablet-width-only) {
    margin-top: 7px;
  }
}

.types__item--road > .types__image-title {
  @media (min-width: $desktop-width) {
    margin-top: 16px;
  }
}

.types__item--childish > .types__image-title {
  @media (min-width: $tablet-width) {
    margin-top: 12px;
  }
}

.types__image {
  border-radius: 10px;
  z-index: 10;

  @media (max-width: $tablet-width-only) {
    width: 270px;
    height: 300px;
    object-fit: cover;
  }
}
