.types {
  padding: 149px 0 147px 0;
  background-color: $background-page-color;
}

.types__title {
  margin: 0 auto;
  margin-bottom: 51px;

  @media (max-width: $tablet-width-only) {
    margin-bottom: 30px;
  }
}

.types__list {
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 50px;
  list-style: none;
}

.types__item {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.types__item--road {
  padding-top: 10px;
}

.types__item--mountain {
  padding-top: 39px;
}

.types__image-title {
  margin-top: 20px;
  font-weight: 600;
  font-size: 22px;
  line-height: 34px;
  letter-spacing: -0.5px;
  color: $basic-black;
}
