.video {
  background: linear-gradient($video-bg-color 75%, transparent 0);
  padding-top: 120px;
  padding-bottom: 75px;
  box-sizing: border-box;

  @media (max-width: $tablet-width-only) {
    padding-top: 70px;
    padding-bottom: 35px;
  }
}

.video__title {
  color: $basic-white;
  margin: 0 auto;
}

.video__subtitle {
  margin: 20px auto 56px auto;
  max-width: 343px;
  color: $basic-gray;
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  text-align: center;

  @media (max-width: $tablet-width-only) {
    margin-bottom: 40px;
  }
}

.video__wrapper {
  position: relative;
}

.video__image {
  display: block;
  margin: 0 auto;

  @media (max-width: $tablet-width-only) {
    width: 503px;
    height: 282px;
  }
}
